.button {
  padding: 15px 25px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #BDAD9E;
  background-color: #381D2A;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #5a3b4a
}

.button:active {
  background-color: #381D2A;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}